  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
<nav>
  <a class="btn btn-light" href="/">
    Agregar Producto
  </a>

  <a class="btn btn-light" href="/products-list">
    Lista de Productos
  </a>
</nav>